---
import { values } from '../../constants/values';
import ValueItem from '../../components/ValueItem.astro';
---

<section class="section-main background-gradient">
	<div class="container">
		<div class="inner-wrapper section-about-values">
			<div class="section-header content-align-center">
				<div class="margin-bottom margin-12px">
					<div
						data-w-id="ac7af2a5-f3df-bd7a-873e-9acb00d77f61"
						class="section-header-subheading background-gradient"
					>
						Nuestros valores
					</div>
				</div><h2
					data-w-id="fb447f2b-7946-6c9b-10ef-37286cc3441b"
					class="section-header-heading section-about-values"
				>
					Los valores que impulsan todo lo que hacemos
				</h2>
			</div>
			<div class="section-content section-about-values">
				{values.map((value) => (
					<ValueItem
						icon={value.icon}
						title={value.title}
						description={value.description}
						altText={value.altText}
						nodeId={value.nodeId}
						dataWId={value.dataWId}
					/>
				))}
			</div>
		</div>
	</div><div class="section-decoration-star">
		<div class="container container-decoration-star">
			<div class="inner-wrapper decoration-star-inner">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="100%"
					viewBox="0 0 80 80"
					fill="none"
					class="decoration-star"
					><path
						d="M80 40C69.8149 41.2212 60.3352 45.8281 53.0817 53.0817C45.8282 60.3352 41.2212 69.8149 40 80C38.7811 69.814 34.1749 60.3331 26.9209 53.0791C19.6669 45.8251 10.186 41.219 0 40C10.1851 38.7788 19.6648 34.1719 26.9184 26.9183C34.1719 19.6648 38.7788 10.1851 40 0C41.2212 10.1851 45.8282 19.6648 53.0817 26.9183C60.3352 34.1719 69.8149 38.7788 80 40Z"
						fill="currentColor"></path></svg
				>
			</div>
		</div>
	</div>
</section>
