---
import DirectoryCard from "./subcomponents/DirectoryCard.astro"
import { directory } from "../../constants/directory";
---

<section class="section-main" id="directorio">
	<div class="container">
		<div class="inner-wrapper about-experts">
			<div class="section-header content-align-center">
				<div class="margin-bottom margin-12px">
					<div
						data-w-id="a0a7d4ac-daaf-fdf9-7301-882713e23adb"
						class="section-header-subheading background-gradient"
					>
						Nuestros expertos
					</div>
				</div><h2
					data-w-id="b161fba6-1579-cb3a-c8c2-5125bfd7fe70"
					class="section-header-heading"
				>
					Conoce nuestros docentes
				</h2>
			</div><div class="section-content about-experts">
				<div class="w-dyn-list">
					<div role="list" class="about-experts-collection-list w-dyn-items">
						{
							directory.map((person) => (
								<DirectoryCard
									name={person.name}
									title={person.title}
									position={person.position}
									href={person.href}
									image={person.image}
								/>
							))
						}
					</div>
				</div>
			</div>
		</div>
	</div><div class="horizontal-line-wrapper">
		<div class="container"><div class="horizontal-line"></div></div>
	</div>
</section>
