---
import { bachelorDegrees } from '../../constants/carreras/bachelor';
import { engineeringDegrees } from '../../constants/carreras/bachelor';
import { highschool } from '../../constants/carreras/highschool';
import { masterDegrees } from '../../constants/carreras/master';
import EventCard from '../EventCard.astro';

export const allCourses = [...bachelorDegrees, ...engineeringDegrees, ...highschool, ...masterDegrees];

---

<section id="Courses" class="section-main">
	<div class="container">
		<div class="inner-wrapper">
			<div class="section-header">
				<div class="margin-bottom margin-12px">
					<div
						data-w-id="c7e27eff-3c13-5966-5f3e-d5cedfdeedf9"
						class="section-header-subheading background-gradient"
					>
						Nuestros programas
					</div>
				</div><div class="margin-bottom margin-24px">
					<h2
						data-w-id="c7e27eff-3c13-5966-5f3e-d5cedfdeedfc"
						class="section-header-heading"
					>
						Conoce nuestros programas de preparatoria, universidad y maestrias
					</h2>
				</div>
			</div>
			<div
				data-current="All"
				data-easing="ease"
				data-duration-in="300"
				data-duration-out="100"
				class="tabs w-tabs"
			>
				<div
					data-w-id="1c3daf45-6c70-ebbc-b078-28eaef0d0e9b"
					class="tabs-navigation course-listing w-tab-menu"
					role="tablist"
				>
					<a
						data-w-tab="Todos"
						class="tab-navigation-link w-inline-block w-tab-link w--current"
						id="w-tabs-0-data-w-tab-0"
						href="#w-tabs-0-data-w-pane-0"
						role="tab"
						aria-controls="w-tabs-0-data-w-pane-0"
						aria-selected="true"><div>Todos</div></a
					>
					<a
						data-w-tab="Preparatoria"
						class="tab-navigation-link w-inline-block w-tab-link"
						id="w-tabs-0-data-w-tab-1"
						href="#w-tabs-0-data-w-pane-1"
						role="tab"
						aria-controls="w-tabs-0-data-w-pane-1"
						aria-selected="false"
						tabindex="-1"><div>Preparatoria</div></a
					>
					<a
						data-w-tab="Licenciaturas"
						class="tab-navigation-link w-inline-block w-tab-link"
						id="w-tabs-0-data-w-tab-2"
						href="#w-tabs-0-data-w-pane-2"
						role="tab"
						aria-controls="w-tabs-0-data-w-pane-2"
						aria-selected="false"
						tabindex="-1"><div>Licenciaturas</div></a
					>
					<a
						data-w-tab="Ingenierias"
						class="tab-navigation-link w-inline-block w-tab-link"
						id="w-tabs-0-data-w-tab-3"
						href="#w-tabs-0-data-w-pane-3"
						role="tab"
						aria-controls="w-tabs-0-data-w-pane-3"
						aria-selected="false"
						tabindex="-1"><div>Ingenierias</div></a
					>
					<a
						data-w-tab="Maestrias"
						class="tab-navigation-link w-inline-block w-tab-link"
						id="w-tabs-0-data-w-tab-4"
						href="#w-tabs-0-data-w-pane-4"
						role="tab"
						aria-controls="w-tabs-0-data-w-pane-4"
						aria-selected="false"
						tabindex="-1"><div>Maestrias</div></a
					>
				</div>
				<div
					data-w-id="1c3daf45-6c70-ebbc-b078-28eaef0d0eb1"
					class="tab-content w-tab-content"
				>
					<div
						data-w-tab="Todos"
						class="tab-pane w-tab-pane w--tab-active"
						id="w-tabs-0-data-w-pane-0"
						role="tabpanel"
						aria-labelledby="w-tabs-0-data-w-tab-0"
					>
						<div class="course-content">
							<div class="course-content-collection-wrapper w-dyn-list">
								<div role="list" class="course-content-collection-list w-dyn-items">
									{allCourses.map((course) => (
										<EventCard
											event={course}
											class="background-tertiary"
											data-w-id="1c3daf45-6c70-ebbc-b078-28eaef0d0eb6"
										/>
									))}
								</div>
							</div>
						</div>
					</div>
					<div
						data-w-tab="Preparatoria"
						class="tab-pane w-tab-pane"
						id="w-tabs-0-data-w-pane-1"
						role="tabpanel"
						aria-labelledby="w-tabs-0-data-w-tab-1"
					>
						<div class="course-content">
							<div class="course-content-collection-wrapper w-dyn-list">
								<div role="list" class="course-content-collection-list w-dyn-items">
									{highschool.map((course) => (
										<EventCard
											event={course}
											class="background-tertiary"
											data-w-id="1c3daf45-6c70-ebbc-b078-28eaef0d0eb6"
										/>
									))}
								</div>
							</div>
						</div>
					</div>
					<div
						data-w-tab="Licenciaturas"
						class="tab-pane w-tab-pane"
						id="w-tabs-0-data-w-pane-2"
						role="tabpanel"
						aria-labelledby="w-tabs-0-data-w-tab-2"
					>
						<div class="course-content">
							<div class="course-content-collection-wrapper w-dyn-list">
								<div role="list" class="course-content-collection-list w-dyn-items">
										{bachelorDegrees.map((course) => (
											<EventCard
												event={course}
												class="background-tertiary"
												data-w-id="1c3daf45-6c70-ebbc-b078-28eaef0d0eb6"
											/>
										))}
								</div>
							</div>
						</div>
					</div>
					<div
						data-w-tab="Ingenierias"
						class="tab-pane w-tab-pane"
						id="w-tabs-0-data-w-pane-3"
						role="tabpanel"
						aria-labelledby="w-tabs-0-data-w-tab-3"
					>
						<div class="course-content">
							<div class="course-content-collection-wrapper w-dyn-list">
								<div role="list" class="course-content-collection-list w-dyn-items">
									{engineeringDegrees.map((course) => (
										<EventCard
											event={course}
											class="background-tertiary"
											data-w-id="1c3daf45-6c70-ebbc-b078-28eaef0d0eb6"
										/>
									))}
								</div>
							</div>
						</div>
					</div>
					<div
						data-w-tab="Maestrias"
						class="tab-pane w-tab-pane"
						id="w-tabs-0-data-w-pane-4"
						role="tabpanel"
						aria-labelledby="w-tabs-0-data-w-tab-4"
					>
						<div class="course-content">
							<div class="course-content-collection-wrapper w-dyn-list">
								<div role="list" class="course-content-collection-list w-dyn-items">
									{masterDegrees.map((course) => (
										<EventCard
											event={course}
											class="background-tertiary"
											data-w-id="1c3daf45-6c70-ebbc-b078-28eaef0d0eb6"
										/>
									))}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
