---
const { event, class: className } = Astro.props;
---

<div class={`course-content-collection-item w-dyn-item ${className || ''}`}>
  <div class="course-content-card">
    <div class="margin-bottom margin-20px">
      <div class="course-image-wrapper">
        <div class="image-animated-mask">
          <div class="image-animated-scale">
            <img loading="lazy" src={event.image} alt={event.name} class="course-content-image">
          </div>
        </div>
      </div>
    </div>
    <div class="course-content-details-wrap">
      <div>
        <div class="margin-bottom margin-16px">
          <div class="content-category">{event.category}</div>
        </div>
        <h3 class="course-content-title">{event.name}</h3>
      </div>
      <div>
        <div class="course-card-horizontal-rule"></div>
        <div class="course-content-info">
          <div class="course-content-info-column">
            <div class="course-content-info-image">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 14 14" fill="none">
                <path d="M2.33594 12.8335C2.33594 10.2562 4.42527 8.16683 7.0026 8.16683C9.57994 8.16683 11.6693 10.2562 11.6693 12.8335H10.5026C10.5026 10.9005 8.93559 9.3335 7.0026 9.3335C5.06961 9.3335 3.5026 10.9005 3.5026 12.8335H2.33594ZM7.0026 7.5835C5.06885 7.5835 3.5026 6.01725 3.5026 4.0835C3.5026 2.14975 5.06885 0.583496 7.0026 0.583496C8.93635 0.583496 10.5026 2.14975 10.5026 4.0835C10.5026 6.01725 8.93635 7.5835 7.0026 7.5835ZM7.0026 6.41683C8.29177 6.41683 9.33594 5.37266 9.33594 4.0835C9.33594 2.79433 8.29177 1.75016 7.0026 1.75016C5.71344 1.75016 4.66927 2.79433 4.66927 4.0835C4.66927 5.37266 5.71344 6.41683 7.0026 6.41683Z" fill="currentColor"></path>
              </svg>
            </div>
            <div class="course-content-info-text-wrap">
              <div class="course-content-info-text">{event.studentCount}</div>
              <div class="course-content-info-text">estudiantes</div>
            </div>
          </div>
          <div class="course-content-info-column">
            <div class="course-content-info-image">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 16 16" fill="none">
                <path d="M7.9987 14.6666C4.3168 14.6666 1.33203 11.6818 1.33203 7.99992C1.33203 4.31802 4.3168 1.33325 7.9987 1.33325C11.6806 1.33325 14.6654 4.31802 14.6654 7.99992C14.6654 11.6818 11.6806 14.6666 7.9987 14.6666ZM7.9987 13.3333C10.9442 13.3333 13.332 10.9455 13.332 7.99992C13.332 5.0544 10.9442 2.66659 7.9987 2.66659C5.05318 2.66659 2.66536 5.0544 2.66536 7.99992C2.66536 10.9455 5.05318 13.3333 7.9987 13.3333ZM8.66536 7.99992H11.332V9.33325H7.33203V4.66659H8.66536V7.99992Z" fill="currentColor"></path>
              </svg>
            </div>
            <div class="course-content-info-text-wrap">
              <div class="course-content-info-text">{event.duration}</div>
            </div>
          </div>
        </div>
        <div class="course-card-horizontal-rule"></div>

        <div class="course-content-button">
          <a href={`/carreras/${event.slug}`} class="button-ghost w-inline-block">
            <div class="button-box-wrap">
              <div class="button-box">
                <div class="button-text">Inscríbete ahora</div>
                <div class="button-text-absolute">Inscríbete ahora</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
