---
// @ts-nocheck
// src/components/Footer.astro
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { pageLinks, companyLinks, contactInfo} from '../constants/footer';
import { GENERAL } from '../constants/constants'
import ItecceLogo from '../../public/images/Logos/ItecceLogo.png'

---

<footer class="footer background-gradient">
  <div class="container">
    <div class="footer-row layer-a">
      <div class="footer-column footer-info-column">
        <div class="margin-bottom margin-16px">
          <a href="/" class="brand footer-brand w-inline-block">
            <Image
              src={ItecceLogo}
              alt="Brand Logo"
              width={129}
              height={50} // Specify actual height
              quality={80}
              class="brand-logo-image"
            />
          </a>
        </div>
        <div class="margin-bottom margin-40px">
          <p class="footer-info-text">{GENERAL.marketing}</p>
        </div>
        <div class="button-container footer-button">
          <a href="/acerca-de" class="button-primary w-inline-block">
            <div class="button-box-wrap">
              <div class="button-box">
                <div class="button-text">Conocenos</div>
                <div class="button-text-absolute">Conocenos</div>
              </div>
            </div>
          </a>
        </div>
        <div class="footer-social-icons">
          <a aria-label="facebook" href="http://facebook.com" class="footer-social-link w-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3 12C3 16.45 6.25 20.15 10.5 20.9L10.5501 20.8599C10.5331 20.8567 10.516 20.8533 10.499 20.8499V14.4999H8.24902V11.9999H10.499V9.99991C10.499 7.74991 11.949 6.49991 13.999 6.49991C14.649 6.49991 15.349 6.59991 15.999 6.69991V8.99991H14.849C13.749 8.99991 13.499 9.54991 13.499 10.2499V11.9999H15.899L15.499 14.4999H13.499V20.8499C13.4825 20.8532 13.466 20.8565 13.4495 20.8596L13.5 20.9C17.75 20.15 21 16.45 21 12C21 7.05 16.95 3 12 3C7.05 3 3 7.05 3 12Z" fill="currentColor"></path>
            </svg>
          </a>
          <!-- Add other social icons here -->
        </div>
      </div>
      <div class="footer-column footer-second-column-row">
        <div class="footer-column">
          <div class="margin-bottom margin-16px">
            <h2 class="footer-link-column-title">General</h2>
          </div>
          <div class="footer-link-wrapper">
            {pageLinks.map(link => (
              <a href={link.href} class="global-link-block w-inline-block">
                <div class="button-box-wrap">
                  <div class="button-box">
                    <div class="button-text">{link.text}</div>
                    <div class="button-text-absolute">{link.text}</div>
                  </div>
                </div>
              </a>
            ))}
          </div>
        </div>
        <div class="footer-column">
          <div class="margin-bottom margin-16px">
            <h2 class="footer-link-column-title">Recursos estudiantiles</h2>
          </div>
          <div class="footer-link-wrapper">
            {companyLinks.map(link => (
              <a href={link.href} class="global-link-block w-inline-block">
                <div class="button-box-wrap">
                  <div class="button-box">
                    <div class="button-text">{link.text}</div>
                    <div class="button-text-absolute">{link.text}</div>
                  </div>
                </div>
              </a>
            ))}
          </div>
        </div>
        <div class="footer-column">
          <div class="margin-bottom margin-16px">
            <h2 class="footer-link-column-title">Contactanos</h2>
          </div>
          <div class="footer-link-wrapper">
            {contactInfo.map(info => (
              <a href={info.href} class="global-link-block w-inline-block">
                <div class="button-box-wrap">
                  <div class="button-box">
                    <div class="button-text">{info.text}</div>
										<div class="button-text">{info.phone}</div>
                    <div class="button-text-absolute">{info.text}</div>
                  </div>
                </div>
              </a>
							<div class="footer-text">{info.address}</div>
            ))}

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="inner-wrapper footer-bottom-inner">
        <div class="footer-bottom-column">
          <p>© 2024 - Todos los derechos reservados. <a href="/" class="global-link">Itecce</a>.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
