---
// src/components/Navigation.astro
import navigation from '../constants/navigation';
---

<nav class="navigation">
    <div class="container">
      <div class="inner-wrapper navbar-inner">
        <div class="navbar-navigation">
          <a href={navigation.logo.href} class="brand w-inline-block">
						<img src={navigation.logo.src} loading="lazy" width="129" height="Auto"
            alt={navigation.logo.alt}
            srcset={navigation.logo.srcset}
            sizes="129px">
					</a>
          <div class="nav-menu">
            <div class="navbar-inner-mobile">
              <a href={navigation.logo.href} class="brand w-inline-block"><img src={navigation.logo.src} loading="lazy"
                  alt={navigation.logo.alt}></a><button aria-label="Navbar Toggler" class="navbar-close"><svg
                  xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 16 16" fill="none">
                  <g clip-path="url(#clip0_1641_41352)">
                    <path
                      d="M0.781396 16.0001C0.626858 16.0001 0.475783 15.9543 0.347281 15.8685C0.218778 15.7826 0.118621 15.6606 0.0594776 15.5178C0.000334661 15.3751 -0.0151369 15.218 0.0150198 15.0664C0.0451766 14.9148 0.119607 14.7756 0.228896 14.6664L14.6664 0.228853C14.8129 0.0823209 15.0117 0 15.2189 0C15.4261 0 15.6249 0.0823209 15.7714 0.228853C15.9179 0.375385 16.0002 0.574125 16.0002 0.781353C16.0002 0.988581 15.9179 1.18732 15.7714 1.33385L1.3339 15.7714C1.26141 15.844 1.17528 15.9016 1.08047 15.9408C0.985653 15.9801 0.884016 16.0002 0.781396 16.0001Z"
                      fill="currentColor"></path>
                    <path
                      d="M15.2189 16.0001C15.1162 16.0002 15.0146 15.9801 14.9198 15.9408C14.825 15.9016 14.7388 15.844 14.6664 15.7714L0.228853 1.33385C0.0823209 1.18732 0 0.988581 0 0.781353C0 0.574125 0.0823209 0.375385 0.228853 0.228853C0.375385 0.0823209 0.574125 0 0.781353 0C0.988581 0 1.18732 0.0823209 1.33385 0.228853L15.7714 14.6664C15.8806 14.7756 15.9551 14.9148 15.9852 15.0664C16.0154 15.218 15.9999 15.3751 15.9408 15.5178C15.8816 15.6606 15.7815 15.7826 15.653 15.8685C15.5245 15.9543 15.3734 16.0001 15.2189 16.0001Z"
                      fill="currentColor"></path>
                  </g>
                  <defs>
                    <clippath id="clip0_1641_41352">
                      <rect width="16" height="16" fill="currentColor"></rect>
                    </clippath>
                  </defs>
                </svg></button>
            </div>
            <ul role="list" class="navbar-list">
							{navigation.menuItems.map((item) => (
								<li class="navbar-item">
									<a href={item.href} class="global-link-block w-inline-block">
										<div class="button-box-wrap">
											<div class="button-box">
												<div class="button-text">{item.text}</div>
												<div class="button-text-absolute">{item.text}</div>
											</div>
										</div>
									</a>
								</li>
							))}
              </li>
              <li class="navbar-item">
                <div data-delay="0" data-hover="false" class="navbar-dropdown w-dropdown">
                  <div class="navbar-dropdown-label w-dropdown-toggle">
                    <div>{navigation.pagesDropdown.label}</div>
                    <div data-w-id="34eeea86-b225-7c57-713a-e05b8820b60a" class="dropdown-label-icon">
											<svg
                        xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 15 14" fill="none">
                        <path d="M7.30005 9.33301L3.80005 5.83301H10.8L7.30005 9.33301Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <nav class="navbar-dropdown-list w-dropdown-list">
                    <div class="navbar-dropdown-list-inner">
											{navigation.pagesDropdown.columns.map((column, index) => (
												<div class="dropdown-link-column">
													{column.links.map((link) => (
														<a
															data-w-id="e75db414-2e01-5613-abbb-9cd23ac9143e"
															href={link.href}
															class={`global-link-block w-inline-block${link.current ? ' w--current' : ''}`}
															aria-current={link.current ? 'page' : undefined}
														>
															<div class="button-box-wrap">
																<div class="button-box">
																	<div class="button-text">{link.text}</div>
																	<div class="button-text-absolute">{link.text}</div>
																</div>
															</div>
														</a>
													))}
													{column.specialLink && (
														<a
															href={column.specialLink.href}
															target="_blank"
															class={column.specialLink.class}
														>
															<div class="more-template-link-text">{column.specialLink.text.split(' ')[0]}</div>
															<div class="more-template-link-text">{column.specialLink.text.split(' ')[1]}</div>
														</a>
													)}
												</div>
											))}
                    </div>
                  </nav>
                </div>
              </li>
							<li class="navbar-item">
                <div data-delay="0" data-hover="false" class="navbar-dropdown w-dropdown">
                  <div class="navbar-dropdown-label w-dropdown-toggle">
                    <div>{navigation.portalDropdown.label}</div>
                    <div data-w-id="34eeea86-b225-7c57-713a-e05b8820b60a" class="dropdown-label-icon">
											<svg
                        xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 15 14" fill="none">
                        <path d="M7.30005 9.33301L3.80005 5.83301H10.8L7.30005 9.33301Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <nav class="navbar-dropdown-list w-dropdown-list">
                    <div class="navbar-dropdown-list-inner">
											{navigation.portalDropdown.columns.map((column, index) => (
												<div class="dropdown-link-column">
													{column.links.map((link) => (
														<a
															data-w-id="e75db414-2e01-5613-abbb-9cd23ac9143e"
															href={link.href}
															class={`global-link-block w-inline-block${link.current ? ' w--current' : ''}`}
															aria-current={link.current ? 'page' : undefined}
														>
															<div class="button-box-wrap">
																<div class="button-box">
																	<div class="button-text">{link.text}</div>
																	<div class="button-text-absolute">{link.text}</div>
																</div>
															</div>
														</a>
													))}

												</div>
											))}
                    </div>
                  </nav>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="navbar-utilities">
          <div class="navbar-button-wrapper">
            <a href="https://wa.link/7ij0lk" target="_blank" class="button-primary w-inline-block">
              <div class="button-box-wrap">
                <div class="button-box">
                  <div class="button-text">Contactanos</div>
                  <div class="button-text-absolute">Contactanos</div>
                </div>
              </div>
            </a>
          </div>
					<button data-w-id="5d2b1975-5095-d81a-d680-46ff109fb086" aria-label="Navbar Toggler"
            class="navbar-open">
            <div class="navbar-toggle-icon-bar _1"></div>
            <div class="navbar-toggle-icon-bar _2"></div>
            <div class="navbar-toggle-icon-bar _3"></div>
          </button>
        </div>
      </div>
    </div>
  </nav>

<script>
  // Add 'js' class to documentElement
  document.documentElement.classList.add('js');

  // Add 'touch' class if touch is supported
  if ('ontouchstart' in window || navigator.maxTouchPoints > 0) {
    document.documentElement.classList.add('touch');
  }
</script>
