---
// @ts-nocheck
// src/components/Navigation.astro
import { Image } from 'astro:assets';
import navigation from '../constants/navigation';

// Import all images
const images = import.meta.glob('/public/images/**/*');
---

<nav class="navigation">
    <div class="container">
      <div class="inner-wrapper navbar-inner">
        <div class="navbar-navigation">
          <a href={navigation.logo.href} class="brand w-inline-block">
            <Image
              src={images['/public/images/Logos/ItecceLogo.png']()}
              alt={navigation.logo.alt}
              width={129}
              height="auto"
            />
          </a>
          <div class="nav-menu">
            <div class="navbar-inner-mobile">
              <a href={navigation.logo.href} class="brand w-inline-block">
								<Image
								src={images['/public/images/Logos/ItecceLogo.png']()}
								alt={navigation.logo.alt}
								width={129}
								height="auto"
							/>
								</a>
									<button aria-label="Navbar Toggler" class="navbar-close"><svg
                  xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 16 16" fill="none">
                  <g clip-path="url(#clip0_1641_41352)">
                    <path
                      d="M0.781396 16.0001C0.626858 16.0001 0.475783 15.9543 0.347281 15.8685C0.218778 15.7826 0.118621 15.6606 0.0594776 15.5178C0.000334661 15.3751 -0.0151369 15.218 0.0150198 15.0664C0.0451766 14.9148 0.119607 14.7756 0.228896 14.6664L14.6664 0.228853C14.8129 0.0823209 15.0117 0 15.2189 0C15.4261 0 15.6249 0.0823209 15.7714 0.228853C15.9179 0.375385 16.0002 0.574125 16.0002 0.781353C16.0002 0.988581 15.9179 1.18732 15.7714 1.33385L1.3339 15.7714C1.26141 15.844 1.17528 15.9016 1.08047 15.9408C0.985653 15.9801 0.884016 16.0002 0.781396 16.0001Z"
                      fill="currentColor"></path>
                    <path
                      d="M15.2189 16.0001C15.1162 16.0002 15.0146 15.9801 14.9198 15.9408C14.825 15.9016 14.7388 15.844 14.6664 15.7714L0.228853 1.33385C0.0823209 1.18732 0 0.988581 0 0.781353C0 0.574125 0.0823209 0.375385 0.228853 0.228853C0.375385 0.0823209 0.574125 0 0.781353 0C0.988581 0 1.18732 0.0823209 1.33385 0.228853L15.7714 14.6664C15.8806 14.7756 15.9551 14.9148 15.9852 15.0664C16.0154 15.218 15.9999 15.3751 15.9408 15.5178C15.8816 15.6606 15.7815 15.7826 15.653 15.8685C15.5245 15.9543 15.3734 16.0001 15.2189 16.0001Z"
                      fill="currentColor"></path>
                  </g>
                  <defs>
                    <clippath id="clip0_1641_41352">
                      <rect width="16" height="16" fill="currentColor"></rect>
                    </clippath>
                  </defs>
                </svg></button>
            </div>
            <ul role="list" class="navbar-list">
							{navigation.menuItems.map((item) => (
								<li class="navbar-item">
									<a href={item.href} class="global-link-block w-inline-block">
										<div class="button-box-wrap">
											<div class="button-box">
												<div class="button-text">{item.text}</div>
												<div class="button-text-absolute">{item.text}</div>
											</div>
										</div>
									</a>
								</li>
							))}
              </li>
              <li class="navbar-item">
                <div data-delay="0" data-hover="false" class="navbar-dropdown w-dropdown">
                  <div class="navbar-dropdown-label w-dropdown-toggle">
                    <div>{navigation.pagesDropdown.label}</div>
                    <div data-w-id="34eeea86-b225-7c57-713a-e05b8820b60a" class="dropdown-label-icon">
											<svg
                        xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 15 14" fill="none">
                        <path d="M7.30005 9.33301L3.80005 5.83301H10.8L7.30005 9.33301Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <nav class="navbar-dropdown-list w-dropdown-list">
                    <div class="navbar-dropdown-list-inner">
											{navigation.pagesDropdown.columns.map((column, index) => (
												<div class="dropdown-link-column">
													{column.links.map((link) => (
														<a
															data-w-id="e75db414-2e01-5613-abbb-9cd23ac9143e"
															href={link.href}
															class={`global-link-block w-inline-block${link.current ? ' w--current' : ''}`}
															aria-current={link.current ? 'page' : undefined}
														>
															<div class="button-box-wrap">
																<div class="button-box">
																	<div class="button-text">{link.text}</div>
																	<div class="button-text-absolute">{link.text}</div>
																</div>
															</div>
														</a>
													))}
													{column.specialLink && (
														<a
															href={column.specialLink.href}
															target="_blank"
															class={column.specialLink.class}
														>
															<div class="more-template-link-text">{column.specialLink.text.split(' ')[0]}</div>
															<div class="more-template-link-text">{column.specialLink.text.split(' ')[1]}</div>
														</a>
													)}
												</div>
											))}
                    </div>
                  </nav>
                </div>
              </li>
							<li class="navbar-item">
                <div data-delay="0" data-hover="false" class="navbar-dropdown w-dropdown">
                  <div class="navbar-dropdown-label w-dropdown-toggle">
                    <div>{navigation.portalDropdown.label}</div>
                    <div data-w-id="34eeea86-b225-7c57-713a-e05b8820b60a" class="dropdown-label-icon">
											<svg
                        xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 15 14" fill="none">
                        <path d="M7.30005 9.33301L3.80005 5.83301H10.8L7.30005 9.33301Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <nav class="navbar-dropdown-list w-dropdown-list">
                    <div class="navbar-dropdown-list-inner">
											{navigation.portalDropdown.columns.map((column, index) => (
												<div class="dropdown-link-column">
													{column.links.map((link) => (
														<a
															data-w-id="e75db414-2e01-5613-abbb-9cd23ac9143e"
															href={link.href}
															class={`global-link-block w-inline-block${link.current ? ' w--current' : ''}`}
															aria-current={link.current ? 'page' : undefined}
														>
															<div class="button-box-wrap">
																<div class="button-box">
																	<div class="button-text">{link.text}</div>
																	<div class="button-text-absolute">{link.text}</div>
																</div>
															</div>
														</a>
													))}

												</div>
											))}
                    </div>
                  </nav>
                </div>
              </li>
            </ul>
          </div>
        </div>
				<div class="v0-navbar-utilities">
					<div class="v0-navbar-button-wrapper">
						<a href="https://wa.link/7ij0lk" target="_blank" class="v0-button-primary v0-w-inline-block">
							<div class="v0-button-content">
								<svg class="v0-whatsapp-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-hidden="true">
									<path fill="currentColor" d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"/>
								</svg>
								<span class="v0-button-text">Contáctanos</span>
							</div>
						</a>
					</div>
				</div>
					<button data-w-id="5d2b1975-5095-d81a-d680-46ff109fb086" aria-label="Navbar Toggler"
            class="navbar-open">
            <div class="navbar-toggle-icon-bar _1"></div>
            <div class="navbar-toggle-icon-bar _2"></div>
            <div class="navbar-toggle-icon-bar _3"></div>
          </button>
        </div>
      </div>
    </div>
  </nav>

<script>
  // Add 'js' class to documentElement
  document.documentElement.classList.add('js');

  // Add 'touch' class if touch is supported
  if ('ontouchstart' in window || navigator.maxTouchPoints > 0) {
    document.documentElement.classList.add('touch');
  }
</script>
